<div class="wrapper">
  <div class="response container">
      <div class="content">
          <div class="icon">
            <img [src]="imagepath" alt ="status">
          </div>
          <h1>{{header}}</h1>
          <section>
            <p>{{message}}</p>
          </section>
          <section>
            <div id="dvCountDown" style="display: none" class="root">
                You will be redirected after <span id = "lblCount"></span>&nbsp;seconds.
            </div>
          </section>
      </div>
  </div>
  <ngx-spinner bdColor="rgba(51,51,51,0.5)" size="medium" color="#fff" type="line-spin-fade-rotating"></ngx-spinner>
</div>
