.wrapper {
    width: 100%;
    overflow: auto;
    z-index: 0;
    padding: 4em 0;
  }
  
  @media (min-width: 1025px) {
    .wrapper {
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1 1 auto;
      -moz-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
    }
  }
  
  .container {
    max-width: 46em;
    margin: 0 auto;
    width: 100%;
  }
  .response .notice-wrapper,
.response .icon,
.response h1,
.response section {
  -webkit-animation: fadeInUp 600ms 1 normal cubic-bezier(0.215, 0.61, 0.355, 1) both 0s;
  -moz-animation: fadeInUp 600ms 1 normal cubic-bezier(0.215, 0.61, 0.355, 1) both 0s;
  animation: fadeInUp 600ms 1 normal cubic-bezier(0.215, 0.61, 0.355, 1) both 0s;
}

.response .icon {
  -webkit-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
  animation-delay: 100ms;
}

.response h1 {
  -webkit-animation-delay: 200ms;
  -moz-animation-delay: 200ms;
  animation-delay: 200ms;
}

.response section:nth-of-type(1) {
  -webkit-animation-delay: 400ms;
  -moz-animation-delay: 400ms;
  animation-delay: 400ms;
}

.response section:nth-of-type(2) {
  -webkit-animation-delay: 600ms;
  -moz-animation-delay: 600ms;
  animation-delay: 600ms;
}

.response section:nth-of-type(3) {
  -webkit-animation-delay: 800ms;
  -moz-animation-delay: 800ms;
  animation-delay: 800ms;
}

.response section:nth-of-type(4) {
  -webkit-animation-delay: 1000ms;
  -moz-animation-delay: 1000ms;
  animation-delay: 1000ms;
}

.response section:last-child {
  -webkit-animation-duration: 800ms;
  -moz-animation-duration: 800ms;
  animation-duration: 800ms;
}

.response .icon {
  display: inline-block;
  margin: 0 auto;
}

.response h1 {
  margin: 0.6em 0 0.8em;
}

.response table {
  margin: auto;
  max-width: 10em;
}

.response p {
  max-width: 26em;
  display: inline-block;
  margin: 0 auto;
}

.response .button {
  margin-top: 3em;
}

aside.drawer {
  -webkit-animation: slideInUp 1200ms 1 normal cubic-bezier(0.645, 0.045, 0.355, 1) both 800ms;
  -moz-animation: slideInUp 1200ms 1 normal cubic-bezier(0.645, 0.045, 0.355, 1) both 800ms;
  animation: slideInUp 1200ms 1 normal cubic-bezier(0.645, 0.045, 0.355, 1) both 800ms;
  width: 100%;
  background-color: #393536;
  text-align: left;
}

@media (min-width: 1025px) {
  aside.drawer {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -moz-align-self: stretch;
    align-self: stretch;
    -ms-flex-item-align: stretch;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-animation: slideLeft 700ms 1 normal cubic-bezier(0.645, 0.045, 0.355, 1) both 1200ms;
    -moz-animation: slideLeft 700ms 1 normal cubic-bezier(0.645, 0.045, 0.355, 1) both 1200ms;
    animation: slideLeft 700ms 1 normal cubic-bezier(0.645, 0.045, 0.355, 1) both 1200ms;
    padding: 0;
    position: fixed;
    width: 33.333%;
    width: 33.333vw;
    height: 100%;
    height: 100vh;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 900;
    overflow: hidden;
  }
  .out aside.drawer {
    -webkit-animation: slideRight 700ms 1 normal cubic-bezier(0.645, 0.045, 0.355, 1) both 1200ms;
    -moz-animation: slideRight 700ms 1 normal cubic-bezier(0.645, 0.045, 0.355, 1) both 1200ms;
    animation: slideRight 700ms 1 normal cubic-bezier(0.645, 0.045, 0.355, 1) both 1200ms;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
  }
}

aside.drawer header,
aside.drawer article {
  width: 100%;
}

aside.drawer header {
  position: relative;
  border-bottom: solid 1px #4B4A4E;
  text-align: center;
  z-index: 20;
}

aside.drawer header:before {
  opacity: 0.75;
  position: absolute;
  pointer-events: none;
  top: 100%;
  height: 40px;
  margin-top: 1px;
  background-image: -webkit-linear-gradient(#393536 0%, rgba(48, 46, 51, 0) 100%);
  background-image: -o-linear-gradient(#393536 0%, rgba(48, 46, 51, 0) 100%);
  background-image: linear-gradient(#393536 0%, rgba(48, 46, 51, 0) 100%);
}

aside.drawer article {
  position: relative;
  z-index: 10;
}

aside.drawer article:before,
aside.drawer article:after {
  position: fixed;
  pointer-events: none;
  display: none;
}

@media (min-width: 1025px) {
  aside.drawer article {
    height: 100%;
    height: 100vh;
  }
}

aside.drawer article:after {
  opacity: 0.75;
  top: auto;
  bottom: 0px;
  height: 40px;
  background-image: -webkit-linear-gradient(rgba(48, 46, 51, 0) 0%, #393536 100%);
  background-image: -o-linear-gradient(rgba(48, 46, 51, 0) 0%, #393536 100%);
  background-image: linear-gradient(rgba(48, 46, 51, 0) 0%, #393536 100%);
}

@media (min-width: 1025px) {
  aside.drawer article:after,
  aside.drawer article:before {
    display: block;
  }
}

aside.drawer h5 {
  font-family: "BT Mono medium", "Helvetica Neue", Helvetica, Sans-serif;
  color: #fff;
  line-height: 1.3em;
  font-size: 16px;
  letter-spacing: .02em;
  margin: 0 0 .9em;
}

aside.drawer tr {
  border-color: #4B4A4E;
}

aside.drawer th,
aside.drawer td {
  font-size: 12px;
}

aside.drawer th {
  color: #BABABD;
  width: 45%;
}

aside.drawer td {
  color: #fff;
  width: 55%;
}

aside.drawer p {
  color: #fff;
  max-width: 22em;
}

aside.drawer ::selection {
  opacity: 1;
  background: rgba(255, 255, 255, 0.99);
  color: rgba(62, 60, 65, 0.99);
  text-shadow: none;
}
.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #FF6F00;
  text-transform: uppercase;
  font-family: -apple-system,BlinkMacSystemFont,"Arial",Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica,sans-serif;
  font-size: 1.5em;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
body {
  background: transparent;
  margin: 0;
  padding: 0;
}

@keyframes dots {
  50% {
    transform: translateY(-.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.d {
  animation: dots 1.5s ease-out infinite;
}
.d-2 {
  animation-delay: .5s;
}
.d-3 {
  animation-delay: 1s;
}