/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
#main-wrapper[data-layout=vertical] .topbar .top-navbar .navbar-header,.page-wrapper{
    transition:.2s ease-in
}
#main-wrapper[data-layout=vertical] .topbar .top-navbar .navbar-header[data-logobg=skin1],#main-wrapper[data-layout=horizontal] .topbar .top-navbar .navbar-header[data-logobg=skin1]{
    background:#fafafa
}
#main-wrapper[data-layout=vertical] .topbar .top-navbar .navbar-header[data-logobg=skin2],#main-wrapper[data-layout=horizontal] .topbar .top-navbar .navbar-header[data-logobg=skin2]{
    background:#fe5419
}
#main-wrapper[data-layout=vertical] .topbar .top-navbar .navbar-header[data-logobg=skin3],#main-wrapper[data-layout=horizontal] .topbar .top-navbar .navbar-header[data-logobg=skin3]{
    background:#00b0ff
}
#main-wrapper[data-layout=vertical] .topbar .top-navbar .navbar-header[data-logobg=skin4],#main-wrapper[data-layout=horizontal] .topbar .top-navbar .navbar-header[data-logobg=skin4]{
    background:#6659f7
}
#main-wrapper[data-layout=vertical] .topbar .top-navbar .navbar-header[data-logobg=skin5],#main-wrapper[data-layout=horizontal] .topbar .top-navbar .navbar-header[data-logobg=skin5]{
    background:#414755
}
#main-wrapper[data-layout=vertical] .topbar .top-navbar .navbar-header[data-logobg=skin6],#main-wrapper[data-layout=horizontal] .topbar .top-navbar .navbar-header[data-logobg=skin6]{
    background:#363636
}
#main-wrapper[data-layout=vertical] .topbar .top-navbar .navbar-header[data-logobg=skin6] .navbar-brand .dark-logo,#main-wrapper[data-layout=horizontal] .topbar .top-navbar .navbar-header[data-logobg=skin6] .navbar-brand .dark-logo{
    display:inline
}
#main-wrapper[data-layout=vertical] .topbar .top-navbar .navbar-header[data-logobg=skin6] .navbar-brand .light-logo,#main-wrapper[data-layout=horizontal] .topbar .top-navbar .navbar-header[data-logobg=skin6] .navbar-brand .light-logo{
    display:none
}
#main-wrapper[data-layout=vertical] .topbar .top-navbar .navbar-header[data-logobg=skin6] .nav-toggler,#main-wrapper[data-layout=vertical] .topbar .top-navbar .navbar-header[data-logobg=skin6] .topbartoggler,#main-wrapper[data-layout=horizontal] .topbar .top-navbar .navbar-header[data-logobg=skin6] .nav-toggler,#main-wrapper[data-layout=horizontal] .topbar .top-navbar .navbar-header[data-logobg=skin6] .topbartoggler{
    color:#edac43
}
#main-wrapper[data-layout=vertical] .topbar .navbar-collapse[data-navbarbg=skin1],#main-wrapper[data-layout=vertical] .topbar[data-navbarbg=skin1],#main-wrapper[data-layout=horizontal] .topbar .navbar-collapse[data-navbarbg=skin1],#main-wrapper[data-layout=horizontal] .topbar[data-navbarbg=skin1]{
    background:#fafafa
}
#main-wrapper[data-layout=vertical] .topbar .navbar-collapse[data-navbarbg=skin2],#main-wrapper[data-layout=vertical] .topbar[data-navbarbg=skin2],#main-wrapper[data-layout=horizontal] .topbar .navbar-collapse[data-navbarbg=skin2],#main-wrapper[data-layout=horizontal] .topbar[data-navbarbg=skin2]{
    background:#fe5419
}
#main-wrapper[data-layout=vertical] .topbar .navbar-collapse[data-navbarbg=skin3],#main-wrapper[data-layout=vertical] .topbar[data-navbarbg=skin3],#main-wrapper[data-layout=horizontal] .topbar .navbar-collapse[data-navbarbg=skin3],#main-wrapper[data-layout=horizontal] .topbar[data-navbarbg=skin3]{
    background:#00b0ff
}
#main-wrapper[data-layout=vertical] .topbar .navbar-collapse[data-navbarbg=skin4],#main-wrapper[data-layout=vertical] .topbar[data-navbarbg=skin4],#main-wrapper[data-layout=horizontal] .topbar .navbar-collapse[data-navbarbg=skin4],#main-wrapper[data-layout=horizontal] .topbar[data-navbarbg=skin4]{
    background:#6659f7
}
#main-wrapper[data-layout=vertical] .topbar .navbar-collapse[data-navbarbg=skin5],#main-wrapper[data-layout=vertical] .topbar[data-navbarbg=skin5],#main-wrapper[data-layout=horizontal] .topbar .navbar-collapse[data-navbarbg=skin5],#main-wrapper[data-layout=horizontal] .topbar[data-navbarbg=skin5]{
    background:#414755
}
#main-wrapper[data-layout=vertical] .topbar .navbar-collapse[data-navbarbg=skin6],#main-wrapper[data-layout=vertical] .topbar[data-navbarbg=skin6],#main-wrapper[data-layout=horizontal] .topbar .navbar-collapse[data-navbarbg=skin6],#main-wrapper[data-layout=horizontal] .topbar[data-navbarbg=skin6]{
    background:#fff
}
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin1],#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin1] ul,#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin1],#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin1] ul{
    background:#414141
}
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin1] .create-btn,#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin1] ul .create-btn,#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin1] .create-btn,#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin1] ul .create-btn{
    background:#414141
}
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin2],#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin2] ul,#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin2],#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin2] ul{
    background:#414141
}
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin2] ul::after,#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin2]::after,#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin2] ul::after,#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin2]::after{
    position:absolute;
    top:0;
    content:"";
    width:100%;
    height:100%;
    opacity:.1;
    z-index:-1
}
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin3],#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin3] ul,#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin3],#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin3] ul{
    background:#414141
}
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin4],#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin4] ul,#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin4],#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin4] ul{
    background:#6659f7
}
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin5],#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin5] ul,#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin5],#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin5] ul{
    background:#414755
}
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin5] .create-btn,#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin5] ul .create-btn,#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin5] .create-btn,#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin5] ul .create-btn{
    background:#4fc3f7
}
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin6],#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav ul,#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin6],#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav ul{
    background:#464646
}
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav ul .sidebar-item .sidebar-link,#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav ul .sidebar-item .sidebar-link{
    color:#fff
}
 #main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav ul .sidebar-item .sidebar-link i,#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav ul .sidebar-item .sidebar-link i{
    color:#fff
}
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav ul .nav-small-cap,#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav ul .nav-small-cap{
    color:#fff;
    opacity:.7
}
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav .has-arrow::after,#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav .has-arrow::after{
    border-color:#212529
}
.card-group .card,.left-part{
    border-right:1px solid #e9ecef
}
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav .user-content,#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav .user-email,#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav .user-name,#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav .user-content,#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav .user-email,#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav .user-name{
    color:#212529
}
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin6] .create-btn,#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin6] .create-btn{
    background:#4fc3f7
}
#main-wrapper{
    width:100%;
    overflow:hidden
}
body[data-theme=dark] #main-wrapper,
body[data-theme=dark] .breadcrumb,
body[data-theme=dark] .border-top,
body[data-theme=dark] .page-wrapper
{
	background-color: #323743
}
body[data-theme=dark] .page-wrapper
{
	color: #b2b9bf
}
#main-wrapper[data-layout=vertical] .page-wrapper {
	transition: .2s ease-in
}

#main-wrapper {
	width: 100%;
	overflow: hidden
}

#main-wrapper[data-layout=vertical][data-sidebartype=full] .page-wrapper {
	margin-left: 250px
}

#main-wrapper[data-layout=vertical][data-sidebartype=iconbar] .page-wrapper {
	margin-left: 180px
}

#main-wrapper[data-layout=vertical][data-header-position=fixed] .page-wrapper {
	padding-top: 64px
}

#main-wrapper[data-layout=vertical][data-boxed-layout=boxed] {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	box-shadow: 1px 0 80px rgba(0, 0, 0, .2)
}

@media (min-width:768px) {
	
	#main-wrapper[data-layout=vertical][data-sidebar-position=fixed][data-sidebartype=mini-sidebar] .topbar .top-navbar .navbar-collapse,
	#main-wrapper[data-layout=vertical][data-sidebartype=mini-sidebar] .page-wrapper {
		margin-left: 65px
	}
	.d-md-flex {
		display: flex!important
	}
}

html[dir=rtl] #main-wrapper[data-sidebartype=full] .page-wrapper {
	margin-right: 250px;
	margin-left: 0
}

html[dir=rtl] #main-wrapper[data-sidebartype=iconbar] .page-wrapper {
	margin-right: 180px;
	margin-left: 0
}
html[dir=rtl] .page-breadcrumb .breadcrumb .breadcrumb-item+.breadcrumb-item {
	padding-right: .5rem;
	padding-left: 0
}

html[dir=rtl] .page-breadcrumb .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
	content: "\e64a";
	padding-right: 0;
	padding-left: .5rem
}
.page-wrapper {
	background: #e5e5e5;
	position: relative;
	min-height: 500px;
}

.page-wrapper>.container-fluid {
	padding: 20px;
	min-height: calc(100vh - 180px)
}

.footer {
	padding: 15px 20px
}
.page-breadcrumb {
	padding: 20px 20px 0
}

.page-breadcrumb .page-title {
	margin-bottom: 0
}

.page-breadcrumb .breadcrumb {
	padding: 0;
	margin: 0;
	background: 0 0;
	font-size: 12px
}

.page-breadcrumb .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
	content: "\e649";
	font-family: themify;
	color: #ced4da;
	font-size: 11px
}
.align-self-center {
	align-self: center!important
}
@media (min-width:768px) {
	
	html[dir=rtl] #main-wrapper[data-sidebar-position=fixed][data-sidebartype=mini-sidebar] .topbar .top-navbar .navbar-collapse,
	html[dir=rtl] #main-wrapper[data-sidebartype=mini-sidebar] .page-wrapper {
		margin-right: 65px;
		margin-left: 0
	}
}

#main-wrapper[data-layout=horizontal][data-sidebar-position=fixed] .page-wrapper {
	padding-top: 78px
}

@media (min-width:768px) {
	#main-wrapper[data-layout=horizontal] {
		background: #eef5f9
	}
	
	#main-wrapper[data-layout=horizontal][data-boxed-layout=boxed] .page-wrapper {
		max-width: 1200px;
		margin: 0 auto;
		position: relative
	}
	
	#main-wrapper[data-layout=horizontal][data-sidebar-position=fixed] .page-wrapper {
		padding-top: 128px
	}
	
}
.d-flex {
	display: flex!important
}
.justify-content-end {
	justify-content: flex-end!important
}
.align-items-center {
	align-items: center!important
}
html[dir=ltr] body .m-r-10 {
	margin-right: 10px
}
.text-info {
	color: #eaa23c!important
}

html[dir=ltr] body .m-b-0 {
	margin-bottom: 0
}
html[dir=rtl] body .m-t-30 {
	margin-top: 30px
}
html[dir=ltr] body .m-t-30 {
	margin-top: 30px
}
html[dir=ltr] body .m-t-20 {
	margin-top: 20px
}
html[dir=rtl] body .m-t-20 {
	margin-top: 20px
}
html[dir=ltr] body .p-15 {
	padding: 15px
}
html[dir=rtl] body .p-15 {
	padding: 15px
}
html[dir=ltr] body .p-l-25 {
	padding-left: 25px
}
html[dir=ltr] body .p-r-25 {
	padding-right: 25px
}
html[dir=rtl] body .m-b-20 {
	margin-bottom: 20px
}
.m-b-0 {
	font-weight: 300
}
html body .font-medium {
	font-weight: 600
}
html body .font-light {
	font-weight: 300
}
html body .display-5 {
	font-size: 3rem
}
.container,
.container-fluid {
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 99%
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0 solid transparent;
	border-radius: 0
}
card>hr {
	margin-right: 0;
	margin-left: 0
}
.card-body {
	flex: 1 1 auto;
	padding: 1.25rem
}
.card-footer,
.card-header {
	padding: .75rem 1.25rem;
	background-color: rgba(0, 0, 0, .03)
}
.card-title {
	margin-bottom: .75rem
}
.card-header,
.card-subtitle,
.card-text:last-child {
	margin-bottom: 0
}
.card-subtitle {
	margin-top: -.375rem
}
.card-header {
	border-bottom: 0 solid transparent
}

.card-header:first-child {
	border-radius: calc(0px - 0px) calc(0px - 0px) 0 0
}

.card-header+.list-group .list-group-item:first-child {
	border-top: 0
}

.card-footer {
	border-top: 0 solid transparent
}

.card-footer:last-child {
	border-radius: 0 0 calc(0px - 0px) calc(0px - 0px)
}
.card {
	margin-bottom: 20px
}
.text-body {
	color: #3e5569!important
}

.text-muted {
	color: #a1aab2!important
}
.btn {
	white-space: nowrap;
	font-weight: 400
}
.btn-info.focus,
.btn-info:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show>.btn-info.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(41, 98, 255, .5)
}

.btn-info {
	color: #fff;
	background-color: #eaa23c;
	border-color: #eaa23c
}

.btn-info:hover {
	color: #fff;
	background-color: #e38b34;
	border-color: #e38b34
}

.btn-info.disabled,
.btn-info:disabled {
	color: #fff;
	background-color: #eaa23c;
	border-color: #eaa23c
}

.btn-info.focus,
.btn-info:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show>.btn-info.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(41, 98, 255, .5)
}
.btn-info {
	color: #fff;
	background-color: #eaa23c;
	border-color: #eaa23c
}

.btn-info:hover {
	color: #fff;
	background-color: #e38b34;
	border-color: #e38b34
}

.btn-info.disabled,
.btn-info:disabled {
	color: #fff;
	background-color: #eaa23c;
	border-color: #eaa23c
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show>.btn-info.dropdown-toggle {
	color: #fff;
	background-color: #e38b34;
	border-color: #003ee8
}
.border {
	border: 1px solid #e9ecef!important
}

.border-top {
	border-top: 1px solid #e9ecef!important
}

.border-right {
	border-right: 1px solid #e9ecef!important
}

.border-bottom {
	border-bottom: 1px solid #e9ecef!important
}

.border-left {
	border-left: 1px solid #e9ecef!important
}
.text-lowercase {
	text-transform: lowercase!important
}

.text-uppercase {
	text-transform: uppercase!important
}

.text-capitalize {
	text-transform: capitalize!important
}

.font-weight-light {
	font-weight: 300!important
}

.font-weight-normal {
	font-weight: 400!important
}

.font-weight-bold {
	font-weight: 800!important
}

.font-italic {
	font-style: italic!important
}

.text-white {
	color: #fff!important
}

.text-primary {
	color: #7460ee!important
}

a.text-primary:focus,
a.text-primary:hover {
	color: #4c32e9!important
}

.text-secondary {
	color: #6c757d!important
}

a.text-secondary:focus,
a.text-secondary:hover {
	color: #545b62!important
}

.text-success {
	color: #36bea6!important
}

a.text-success:focus,
a.text-success:hover {
	color: #2b9683!important
}

.text-info {
	color: #eaa23c!important
}

a.text-info:focus,
a.text-info:hover {
	color: #e38b34!important
}

.text-warning {
	color: #ffbc34!important
}

a.text-warning:focus,
a.text-warning:hover {
	color: #ffab01!important
}

.text-danger {
	color: #f62d51!important
}

a.text-danger:focus,
a.text-danger:hover {
	color: #e60a31!important
}

.text-light {
	color: #f8f9fa!important
}

a.text-light:focus,
a.text-light:hover {
	color: #dae0e5!important
}

.text-dark {
	color: #343a40!important
}

a.text-dark:focus,
a.text-dark:hover {
	color: #1d2124!important
}

.text-cyan {
	color: #4fc3f7!important
}

a.text-cyan:focus,
a.text-cyan:hover {
	color: #1eb2f5!important
}

.text-orange {
	color: #fb8c00!important
}

a.text-orange:focus,
a.text-orange:hover {
	color: #c87000!important
}

.text-purple {
	color: #7460ee!important
}

a.text-purple:focus,
a.text-purple:hover {
	color: #4c32e9!important
}



.text-black-50 {
	color: rgba(0, 0, 0, .5)!important
}

.text-white-50 {
	color: rgba(255, 255, 255, .5)!important
}

.text-hide {
	font: 0/0 a;
	color: transparent;
	background-color: transparent;
	border: 0
}
.mat-step-header .mat-step-icon {
    background-color: #e38b34;
    color: #fff;
}

.mat-horizontal-stepper-header {
    display: flex;
    height: 30px!important;
    overflow: hidden;
    align-items: center;
    padding: 0 15px !important;
}
.mat-tab-group {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 95%;
}
.mat-tab-group.mat-background-primary .mat-tab-header, .mat-tab-group.mat-background-primary .mat-tab-links, .mat-tab-nav-bar.mat-background-primary .mat-tab-header, .mat-tab-nav-bar.mat-background-primary .mat-tab-links {
    background-color: #e38b34;
}
.mat-tab-group.mat-background-primary .mat-tab-label, .mat-tab-group.mat-background-primary .mat-tab-link, .mat-tab-nav-bar.mat-background-primary .mat-tab-label, .mat-tab-nav-bar.mat-background-primary .mat-tab-link {
    color: #fff;
}